{{ define "main" }}
{{- $width := 1649 }}
{{- $height := 256 }}
<article class="flex flex-col items-center mb-10">
  {{ if .Param "artwork" }}
    {{ with .Resources.GetMatch (printf "*%s*" .Params.artwork) }}
      {{ $img := .Fill (printf "%sx%s Center NearestNeighbor jpg" (string (mul $width 2)) (string (mul $height 2))) }}
      <img src="{{ $img.RelPermalink }}" class="object-cover h-64 w-screen mb-10 max-w-auto" loading="lazy"/>
    {{ end }}
  {{ end }}

  <h1 class="text-6xl uppercase text-center">{{ .Title }}</h1>

  <div class="entry-content text-xl max-w-3xl w-full text-gray-500 font-light hyphens-auto">
    {{ .Content }}
  </div>

  <time class="uppercase text-gray-500 my-5 text-2xl">{{ .Date.Format "02 January 2006" }}</time>
  <div class="uppercase text-gray-500 my-5">
    {{- range (.GetTerms "categories") }}
    <a href="{{ .RelPermalink }}" class="mx-1">{{ .LinkTitle }}</a>
    {{ end }}
  </div>

</article>
{{ $pages := (where $.Site.RegularPages "Section" .Section).ByDate.Reverse }}

<div class="text-gray-500 flex flex-row items-center text-lg my-5">
  {{ with $pages.Next . }}
    <a href="{{ .RelPermalink }}" class="w-1/2 flex-grow text-right">{{ .Title }} «</a>
  {{ end }}
  <span class="mx-6"> | </span>
  {{ with $pages.Prev . }}
    <a href="{{ .RelPermalink }}" class="w-1/2 flex-grow">» {{ .Title }}</a>
  {{ end }}
</div>
{{ end }}

