@tailwind base;

@tailwind components;

.entry-content a {
  @apply text-pink-600;
}
.entry-content > p {
  @apply my-10;
}

/* Gallery */

.gallery {
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 125px;
  grid-auto-flow: dense;
  display: block;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  /* grid-column-start: auto; */
  /* grid-row-start: auto; */
}

.gallery .portrait {
  grid-row: span 2;
}

.gallery .square {
  grid-row: span 3;
  grid-column: span 2;
}

.gallery .pano {
  grid-column: span 3;
}

.gallery .full {
  grid-column: span 3;
}

.gallery .large {
  grid-column: span 2;
  grid-row: span 2;
}

@media (min-width: 376px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery .portrait {
    grid-row: span 3;
  }
}


@tailwind utilities;