{{- $title := .Get "title" -}}
{{- $oriantation := .Get "oriantation" -}}
{{- $width := 230 }}
{{- $height := 125 }}
{{- $class := "" }}
{{ if (eq $oriantation "portrait") }}
  {{- $width = 230 }}
  {{- $height = 415 }}
  {{- $class = "portrait" }}
{{ end }}
{{ if (eq $oriantation "square") }}
  {{- $width = 480 }}
  {{- $height = 415 }}
  {{- $class = "square" }}
{{ end }}
{{ if (eq $oriantation "pano") }}
  {{- $width = 480 }}
  {{- $height = 125 }}
  {{- $class = "pano" }}
{{ end }}
{{ if (eq $oriantation "full") }}
  {{- $width = 768 }}
  {{- $height = 768 }}
  {{- $class = "full" }}
{{ end }}
{{ with $.Page.Resources.GetMatch (printf "*%s*" (.Get "src")) }}
  {{ $img := .Fit (printf "%sx%s Gaussian jpg" (string (mul $width 2)) (string (mul $height 2))) }}
  <div class="rounded overflow-hidden shadow-lg {{ $class }}">
    <img src="{{ $img.RelPermalink }}" alt="{{ $title }}" width="{{ $width }}" height="{{ $height }}">
    {{- if $title -}}
    <p class="text-gray-700 text-base text-sm px-6 py-4">{{ $title }}</p>
    {{- end -}}
  </div>
{{ end }}